@import url("base.css");

main {
  display: grid;
  grid-template-columns: repeat(2,auto);
  grid-template-rows: repeat(2,400px);
  column-gap: 180px;
  row-gap: 40px;
  margin: 50px 70px;
}

.box{
    border: 3px solid #AC0117;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.box>div{
    background-color: rgba(172, 1, 23,.8);
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.box>div>a{
    color: #FFFFFF;
    font-size: 40px;
    font-family: 'Saiyan-Sans', serif;
    text-align: center; /* Só funciona em display block */
    display: block;
}

#box_one{
    background-image: url('../img/historia.png');
}
#box_two{
    background-image: url('../img/akira.png');
}
#box_three{
    background-image: url('../img/personagens.png');
}
#box_four{
    background-image: url('../img/galeria.png');
}