/* Smartphone e genérica */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #e3350d;
}

h1 {
  font-size: 1rem; /* Equivalente à 16px por padrão */
  color: #ffffff;
  text-align: center;
}

p {
  font-size: 0.75rem;
  color: #ffffff;
}

img {
  width: 5rem;
}

main {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 88px;
  row-gap: 1.25rem;
  padding: 16px;
}

body {
  background-color: #cc5050;
}

.card {
  border-radius: 0.625rem;
  padding: 1.25rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg-light-green {
  background-color: #9bcc50;
  color: #ffffff;
}

.bg-orange {
  background-color: #fd7d24;
  color: #ffffff;
}

.bg-blue {
  background-color: #4592c4;
  color: #ffffff;
}

.bg-olive {
  background-color: #739f40;
}

.bg-yellow {
  background-color: #f7de3f;
}

.bg-brown {
  background-color: #d56723;
}

footer {
  display: none;
  text-align: center;
  color: #e3350d;
}

/* Tablets */
@media screen and (min-width: 768px) {
  html {
    font-size: 24px;
  }
  main {
    grid-template-columns: repeat(3, auto);
    column-gap: 68px;
  }
}

/* Telas grandes */
@media screen and (min-width: 996px) {
  html {
    font-size: 32px;
  }
  main {
    grid-template-columns: repeat(4, auto);
    column-gap: 137px;
  }
}

@media print {
  footer {
    display: block;
  }
}
